
	
	.container {
		width:100%;
		display:grid;
		grid-template-columns:repeat(12, 1fr);
		grid-gap:10px;

	}

	.col-12 {
		grid-column: auto / span 1;
	}

	.col-sm-12 {
		grid-column: auto / span 3;
	}

	.col-md-12 {
		grid-column: auto / span 6;
	}

	.col-lg-12 {
		grid-column: auto / span 9;
	}

	.col-xlg-12 {
		grid-column: auto / span 12;
	}






/*Mobile First Grid*/

@media screen and (max-width: 960px) {

	.container {
		width:100%;
		display:grid;
		grid-template-columns:repeat(4, 1fr);
		grid-gap:10px;

	}

	.col-4 {
		grid-column:auto / span 1;
	}

	.col-sm-4 {
		grid-column: auto / span 2;
	}
	

	.col-md-4 {
		grid-column: auto / span 3;
	}

	.col-lg-4 {
		grid-column: auto / span 4;
	}

}






