@import url('grid.css');

* {
	padding:0;
	margin:0;
}

#logo {
	justify-self:center;
}

header {
	background-color:tomato;
	height:50px;
	justify-content:center;
	align-content:center;
}

#navLinks {
	justify-self:end;
	list-style:none;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

.nav-link {
	text-decoration: none;
	padding:10px;
	color:#fff;
}

#content {
	justify-self:center;
	align-self:center;
	text-align:center;
	display:block;
	padding:100px;
}



#heroImg {
	padding-top:50px;
	justify-self:center;
	align-self:center;
	overflow:hidden;
}